.btn-add{
  background-color: #34903c;
  color: #fff;
  border-radius: 15px;
  padding: 5px 15px;
}

.search-box{
  border: 1px solid #00000030;
}

.list-cart{
  background-color: #fff;
  padding: 10px;
  margin: 0;
}

.btn-danger{
  padding: 2px 18px;
  font-size: 12px;
}
